*{
    margin: 0;
    padding: 0;
   
}

.container{
    width: 95%;
    margin: auto;
}

/*header*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .logo{
    flex-basis: 10%;
    align-self: flex-start;
    height: 200px;
    padding: 40px;
}

header .logo img{
    height: 200px;
    width: 200px;
}

header .branding{
    flex-basis: 40%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 12px;
    height: 200px;
    padding: 50px;
    align-self: flex-end;
}

@media only screen and (max-width: 950px){
    header {
        background: #000;
        color: #EBEDE6;
        flex-wrap: wrap;
    }

    header .navigation li{
        flex-basis: 330px;
        
    }
    
    header .navigation{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header .logo{
        align-self: center;
        flex-basis: 100%;
        height: 100px;
    }

    header .branding{
        align-self: center;
        flex-basis: 100%;
        height: 40px;
        line-height: 0;
    }

    header img{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (max-width: 480px){
    header .branding{
        display: none;
    }

    header .logo{
        height: 200px;
    }
}

/*navigation */

.navigation{
    flex-basis: 100%;
}

.navigation ul{
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.navigation li{
    font-size: 1.2rem;
    display: inline-flex;
    flex-basis: 20%;
    justify-content: center;
    background: #2F3061;
    padding: 15px;
    color: #EBEDE6;
    flex-grow: 1.5;
}

.navigation li:first-child{
    border-right: 2px solid rgb(192, 153, 153);
}

.navigation li:last-child{
    border-left: 2px solid rgb(219, 183, 183);
}

/* About */

.about{
    width: 60%;
    margin: 0 auto 0 auto;
    height: 200px;
    background: rgba(235, 237, 230, 0.527);
}

.about h1{
    text-align: center;
    padding: 20px;
}

.about p{
    border-top: 1px solid #5F5980;
    padding: 30px;
    font-size: 1.1em;
}

.about-container{
    background: #ddd;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 0 0;
    height: 400px;
}

@media only screen and (max-width: 600px){
    .about-container{
        height: max-content;
        background-position: 60% 0;
       
    }
    .about{
        height: fit-content;
        width: 100%;
    }
}

/* Services */

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    background: #343434;
}



.services div{
    flex-basis: 300px;
    margin: 20px;
    padding: 30px;
    box-sizing: content-box;
    color: #dddddd;
}

.services h1{
    padding: 20px;
}

.services p{
    text-align: center;
    padding: 20px 0 0 0;
    border-top: 1px solid pink;
}

/* Contact */

.contact{
    background: #5F5980;
}

.contact h1{
    padding: 30px 0 0 30px;
}

.contact  form{
    width: 50%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: reverse;
    flex-wrap: wrap;
}

.contact form *{
    justify-content: space-evenly;
    flex-basis: 40%;
    margin: 10px 0 0 20px;
    padding: 10px;
}

.contact button{
    margin: auto;
    align-items: center;
    background: rgba(4, 18, 58, 0.664);
    color: rgb(243, 243, 243);
}

.contact form textarea{
    vertical-align: center;
}

@media only screen and (max-width: 750px){
    .contact form{
        display: block;
    }

    .contact form div{
        margin: 0 0 0 -60px;
    }

    .contact div textarea,input{
        width: 90%;
    }
}

/*pricing */

.pricing{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #EBEDE6;
}

.pricing h1{
    flex-basis: 100%;
    padding: 30px 0 0 30px;
}

.pricing div:not(.circle){
    flex-basis: 400px;
    padding: 20px;
    margin: 10px;
}

.pricing div h4{
    border-bottom: 1px solid #5F5980;
    padding-bottom: 10px; 
}

.circles{
    display: inline-flex;
    justify-content: center;
    transition-duration: 1s;
}

.circle{
    background: rgb(163, 72, 72);
    height: 40px;
    margin-right: 5px;
    width: 40px;
    border-radius: 100%;
    transition-duration: 1s;
}

.leftward{
    margin-left: 60px;
}

#pr1 .circle{
    background: rgb(99, 235, 151);
}
#pr2 .circle{
    background: #b8ca50;
}
#pr4 .circle{
    background: rgb(99, 235, 151);
}

